{
    "bootstrap-expect": 3,
    "server": true,
    "datacenter": "cluster",
    "data_dir": "/var/consul",
    "encrypt": "CRYPTKEY",
    "log_level": "INFO",
    "bind": "0.0.0.0",
    "advertise": "{{ bindto }}",
    "retry-join:" "{{ all_ips }}",
    "enable_syslog": true
}

