#!/usr/bin/env bash
consul agent >/var/log/consul.log 2>&1 -log-level=info -bootstrap-expect=3 -ui=true -client="0.0.0.0"  -server=true -datacenter=cluster -encrypt="h86hlc9JkdfZhhJCIWVFtQ==" -advertise="{{ bindto }}" -retry-join="{{ consul_join }}" -data-dir="/var/consul"

