#!/usr/bin/env bash
consul agent >/var/log/consul.log 2>&1 -log-level=info -bootstrap-expect=3 -server=true -datacenter=cluster -encrypt="h86hlc9JkdfZhhJCIWVFtQ==" -advertise="{{ bindto }}" -retry-join="{{ all_ips }}" -data-dir="/var/consul" -ui=true

